* {
    margin: 0px;
}
body {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    padding: 30px;
}
div.banner {
    background-color: rgb(65, 108, 237);
    height: 60px;
}
div.card {
    width: 500px;
    border: solid 3px #000;
    padding: 0px 30px 15px;    
}
#prof_pic {
    position: relative;
    top: -45px;
    left: 0px;
    width: 80px;
    margin-bottom: -50px;
}
#name {
    margin-top: 0px;
}
#location {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
#map_marker {
    width: 10px;
}
#gear {
    width: 15px;
}
#edit_prof {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin: 5px 0px;
}
